[mysqld]
tls_version = TLSv1.2,TLSv1.3  # Disable TLSv1 and TLSv1.1
skip_ssl                         # Disable SSL (Optional for development)
pid-file = /var/lib/mysql/mysqld.pid  # Secure pid file location
event_scheduler = OFF            # Disable event scheduler (Optional)

